
body {
 color: #F1F7EE;

 background: linear-gradient(45deg, #92AA83  0%, #B0BEA9  100%);
}


header {
    display: flex;
    align-items: center;
    padding: 10px;
}

h1{
   font-family:"Plaster", system-ui;
   font-size: clamp(40px, 8vw, 80px);
   background: linear-gradient(to right, white 40%, #92AA83 60%);
   background-clip: text;
   color: transparent;
  
  
   
}

.father-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between; 
}



.student-container {
    display: flex;
    flex-direction: column; /* Dispone gli elementi in colonna */
    gap: 5px;
    position: relative;
    font-family: "Koh Santepheap", serif;
    padding: 20px;
    flex: 0 0 calc(50% - 20px);
    border-left: 1px solid rgba(0, 0, 0, 1); 
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    box-sizing: border-box;
    /* background: rgb(176,176,176);
    background: radial-gradient(circle, #92AA83 0%, B0BEA9 100%); */
    text-align: right;
    border-radius: 20px 20px 20px 20px;
    height: auto;
    max-width: auto;
    width: auto;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 1);
    
}
.student-logo {
    position: absolute; /* Aggiungi questa linea */
    
    
    top: 10px; /* Regola la distanza dall'alto */
    left: 10px; /* Regola la distanza da sinistra */
    width: 80px; /* Regola la larghezza del logo */
    height: auto; /* Mantieni le proporzioni */
    z-index: -1;
}
.page-logo {
    width: 200px; 
    height: auto; 
    margin-right: 20px; 
    border-radius: 50%;
    border: solid 1px black;
    
}

h3 {
    padding: 0px;
    margin: 0px;

}

footer{
    text-align: center;
}





.popup {
    position: fixed;
    top: 0;
    left: 0;
   
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
    padding: 20px;
}


.popup-content {
    background-color: #41373767;
    width: clamp(300px, 30vw, 800px); 
    height: clamp(400px, 60vh, 1000px);
    border-radius: 10px;
   
    text-align: center;
   
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Spazio tra i campi */
    margin-top: 20px;
    padding: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(122, 143, 107);
}

input::placeholder {
    color: #888888; 
    font-style: italic; 
   
    
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #92AA83;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    
    border: 0.5px solid black;
    color: black;
}
.randomizza {
    border: 0.5px solid black;
    color: black;
    text-align: center;
   
}
.randomizza:hover{
    background-color: #92AA83;
    color: white;
    border: none;
    border-radius: 5px;
}